@import "../../styles/colors";
@import "../../styles/buttons";
@import "../../styles/fonts";
@import "../../styles/container";
.servicesBox {
  @extend .outerBox;
}
.serviceContainer {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 1px $base;
}
.serviceInfo {
  flex:1;
  display: flex;
  border-right: solid 1px $base;
  padding: 0.5em;
}
.serviceContact{
  flex:1;
  height: 100%;
  padding: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content:flex-end;
}
p.required, span.required {
  margin: 0;
  padding: 0;
  color: red;
  text-align: right;
}
.formContainerServices {
  @extend .formContainer;
form{
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: $white;
    align-items: flex-end;
    border-radius: 5px;
    padding: 5px;
  label{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0.2rem 0;
  }
  legend {
    align-self: center;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 5px;
  }
  input, textarea, select, label {
    font-size: 1.0em;
  }
  input, textarea, select {
    width: 50%;
    margin-left: 1rem;
  }
}
}
hr {
  height: 1px;
  color: $base;
  background: $base;
  font-size: 0;
  border: 0;
  margin: 5px 0;
}
ul {
  list-style-type: none;
  width: 100%;
}
.service {
  .description {
    text-align: justify;
  }
  li {
    padding: 0.25rem;
    span{
      float:left;
      color: $base;
      font-weight:600;
    }
  }
}
.liFlex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.serviceHeading {
  @extend .liFlex;
  background-color: lighten($base, 40%);
  border-radius: 5px;
  color: darken($base, 10%);
}
.contactDetails {
  display: flex;
  flex-flow: column nowrap;
  li {
    text-align: right;
    padding: 0.25rem;
    span{
      float:left;
      color: $base;
      font-weight:600;
    }
  }
  a {
    text-decoration: none;
    &:link {
      color: $base;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}
.centerText{
  width: 100%;
  text-align: center;
}
