@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/buttons";
.subtitle {
  font-family: $heading;
  font-size: 2.2em;
  text-align: center;
  margin: 0;
  flex:0 1 auto;
}
.add{
  margin-left: 5px;
  float:right;
  button{
    @include reset-button(1.5em);
    height: 22px;
    width: 22px;
    background: center no-repeat;
    background-size: contain;
    background-image: url('./../../images/add.png');
}
}
.closebtn {
  flex: 0 1 auto;
  display: flex;
  justify-content: flex-end;
  button {
  @include reset-button(1.5em);
}
}
.notFound{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: red;
}
.errorText {
  color: red;
  padding: 0;
  margin: 0;
}
.successMsg{
  padding: 5px;
  background-color: $yellow;
  color: $white;
  border-radius: 5px;
}
